doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, user-scale=no')
    meta(http-equiv='X-UA-Compatile' content='IE=edge')
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
    title= 'ntwee+'
  body
    .container
      .header
        a(href='/')
          img.header-logo(src='/images/ball.png' width='30px')

      .nav
        if user && user.id
          .nav-profile
            div
              .nav-profile-image
                img(src= user.imgUrl)
              .nav-profile-detail
                span= user.nickname
                span= user.comment
              a.nav-profile-edit= '프로필 수정'
            ul
              li= '트윗'
              li= '팔로잉'
              li= '팔로워'
            form
              textarea(style='resize:none' placeholder='새 트윗 작성' required max-length=300)
          include trend
        else
          .nav-login
            h2= '로그인'
            .nav-login-form
              h3= '계정이 있으신가요?'
              form(action="/auth/login" method="POST")
                input(type='email' name='email' placeholder='이메일' required)
                input(type='password' name='pwd' placeholder='비밀번호' required)
                div
                  a(href='/auth/kakao')
                    button(type='button')= '카카오톡 로그인'
                  a
                    button(type='submit')= '이메일 로그인'
                  a(href='/join')
                    button(type='button')= '회원가입'
          include trend

      block content
