doctype html
html
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width')
    meta(http-equiv='X-UA-Compatile' content='IE=edge')
    link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@1.0/nanumbarungothicsubset.css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/layout.css')
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    title= 'ntwee+'
  body
    .container
      .header
        a(href='/')
          img.header-logo(src='/images/ball.png' width='30px')

      .nav
        if user && user.id
          .nav-profile
            .nav-profile-wrap
              img
              .nav-profile-detail
                div.nav-profile-else
                  a.nav-profile-edit(href='/user/edit')= '프로필 수정'
                  a.nav-profile-logout(href='/auth/logout')= '로그아웃'
                div.nav-profile-user
                  span= user.nickname
                  span= user.comment
            ul
              li= 0
                span= ' 트윗'
              li= 0
                span= ' 팔로우'
              li= 0
                span= ' 팔로워'
            form.nav-form(action='/post' method='POST' enctype='multipart/form-data')
              textarea(id='twit' name='twit' style='resize:none' placeholder='새 트윗 작성' max-length=200 required)
              .nav-form-preview
                span= '미리보기'
                img(url='' alt='미리보기')
              .nav-form-upload
                i.fas.fa-folder
                input(type='file' accept='image/*' id='upload')
                button(type='submit')='nwit'
          include trend
        else
          .nav-login
            h2= '로그인'
            .nav-login-form
              h3= '계정이 있으신가요?'
              form(action="/auth/login" method="POST")
                input(type='email' name='email' placeholder='이메일' required autofocus)
                input(type='password' name='pwd' placeholder='비밀번호' required)
                div
                  a(href='/auth/kakao')
                    button(type='button')= '카카오톡 로그인'
                  a
                    button(type='submit')= '이메일 로그인'
                  a(href='/join')
                    button(type='button')= '회원가입'
          include trend
        
      block content

  script.
    document.querySelector('.nav-form textarea').addEventListener('change', function(e) {
      const textValue = e.target.value;

      if (textValue.length > 200) { 
        alert('200자 이상 작성할 수 없습니다.');
        return this.value = textValue.slice(0, 200);
      }
    });

    if (document.querySelector('#upload')) {
      document.querySelector('#upload').addEventListener('change', function(e) {
        const fr = new FileReader();
        const fd = new FormData();

        fr.readAsDataURL(this.files[0]);
        fd.append('img', this.files[0]);

        fr.onload = () => {
          document.querySelector('.nav-form-preview').style.display = 'flex';
          document.querySelector('.nav-form-preview img').src = fr.result;
        }
        
        document.querySelector('.nav-form').addEventListener('submit', function(e) {
          axios.post('/post/img', { fd });
        });
      });
    }