extends layout

block content
    .main
        if user && user.id
            .main-header
                h2= '타임라인'
                form.main-header-form(action='/hashtag')
                    span
                        i.fa.fa-search
                    input(type='search' placeholder='해시태그 검색')
            .main-post
                if post
                    for twit in twits
                        .main-post-profile
                            .main-post-profile-image
                            .main-post-profile-name= twits.userId
                        .main-post-wrap
                            .main-post-comment= twits.postContent
                            .main-post-detail
                                a(href='#')= '지우기'
                                span= '몇분 전'