extends layout

block content
    .main
        if user && user.id
            .main-header
                h2= '타임라인'
                form.main-header-form(action='/post/hashtag')
                    span
                        i.fa.fa-search
                    input(type='search' placeholder='해시태그 검색')
            if twits
                for twit in twits
                    .main-post
                        input.twit-user-id(type='hidden' value= twit.userId)
                        input.twit-post-id(type='hidden' value= twit.postId)
                        .main-post-profile
                            .main-post-profile-image
                            if user.id !== twit.userId 
                                button.main-post-follow= '팔로우'
                            .main-post-profile-name= twit.nickname
                        .main-post-wrap
                            .main-post-comment= twit.postContent
                            if twit.postImgUrl
                                .main-post-img
                                    img(src= twit.postImgUrl)
                            .main-post-detail
                                a(href='#')= '지우기'
                                span= '몇분 전'