doctype
html
  head
    title= title || '장소 검색 서비스'
    link(rel='stylesheet' href='/main.css')
  body
    form#search-form(method='get')
      span 장소 검색 서비스
      input#search
      select#type
        option(value='') 없음
        option(value='cafe') 카페
        option(value='store') 상점
        option(value='bank') 은행
        option(value='school') 학교
      button#search-btn.btn(type='submit') 검색
      button#loc-search-btn.btn(type='button') 주변 검색
      ul#search-list
    block content
    script.
      let timer;

      document.querySelector('#search').addEventListener('keyup', function(e) {
        const xhr = new XMLHttpRequest();

        xhr.onreadystatechange = () => {
          if (xhr.readyState === xhr.DONE) {
            if (xhr.status === 200) {
              const predictions = JSON.parse(xhr.responseText);
              const ul = document.querySelector('#search-list');

              ul.innerHTML = '';
              predictions.forEach(pred => {
                const li = document.createElement('li');

                li.textContent = pred.terms[0].value;
                li.onclick = () => {
                  location.href = '/search/' + pred.terms[0].value;
                }
                ul.appendChild(li);
              });
            } else {
              console.error(xhr.responseText);
            }
          }
        };

        let query = this.value.trim();

        if (timer) {
          clearTimeout(timer);
        }

        timer = setTimeout(() => {
          if (query) {
            xhr.open('GET', '/autocomplete/' + query);
            xhr.send();
          }
        }, 200);
      });

      document.querySelector('#search-form').addEventListener('submit', function (e) {
        console.log(this);
        e.preventDefault();

        if (!this.search.value || !this.search.value.trim()) {
          this.search.focus();
          return false;
        }

        if (this.type.value) {
            return location.href = `/search/${this.search.value.trim()}?type=${this.type.value}`;
        }

        this.action = '/search/' + this.search.value.trim();
        return this.submit();
      });

      document.querySelector('#loc-search-btn').addEventListener('click', function(e) {
          e.preventDefault();

          if (navigator.geolocation) { // GPS를 지원하면
              navigator.geolocation.getCurrentPosition(position => {
                  const search = document.querySelector('#search'),
                        type = document.querySelector('#type').value;

                  if (!search.value || !search.value.trim()) {
                      search.focus();
                      return false;
                  }

                  const lat = position.coords.latitude,
                        lng = position.coords.longitude;

                  location.href = `/search/${search.value.trim()}?lat=${lat}&lng=${lng}&type=${type}`;
              }, () => alert('내 위치 확인 권한을 허용하세요.'),
              {
                  enableHighAccuracy: false, // 정확도를 높이면 배터리가 빨리 단다
                  maximumAge: 0, // 받아온 위치 정보 보관 시간
                  timeout: Infinity // 결과 가져올 때 까지 기다리는 시간
              });
          } else {
              alert('GPS를 지원하지 않습니다.');
          }
      });